.idea
email-service/email-service.iml
email-service/HELP.md
email-service/.mvn
public-service/public-service.iml
public-service/HELP.md
public-service/.mvn
subscription-service/.mvn
subscription-service/HELP.md
subscription-service/subscription-service.iml
discovery-server/discovery-server.iml
discovery-server/.mvn
discovery-server/HELP.md