.idea
email-service/email-service.iml
email-service/HELP.md
email-service/.mvn
public-service/public-service.iml
public-service/HELP.md
public-service/.mvn
emailSubscriptionDto-service/.mvn
emailSubscriptionDto-service/HELP.md
emailSubscriptionDto-service/emailSubscriptionDto-service.iml
discovery-server/discovery-server.iml
discovery-server/.mvn
discovery-server/HELP.md
api-gateway-service/api-gateway-service.iml
api-gateway-service/HELP.md
api-gateway-service/.mvn
authentication-service/authentication-service.iml
authentication-service/HELP.md
authentication-service/.mvn