eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    instance-id: ${spring.application.name}-${random.uuid}

server:
  port: 0

spring:
  cloud:
    stream:
      function:
        definition: notificationEventSupplier
      bindings:
        notificationEventSupplier-in-0:
          destination: notification-events
          group: notification-events
          consumer:
            batch-mode: true
  application:
    name: subscription-service
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver
    initialization-mode: always
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        show_sql: true
        format_sql: true


security:
  oauth2:
    resource:
      token-info-uri: http://localhost:9090/oauth/check_token
    client:
      client-id: mobile
      client-secret: pin


feign:
  client:
    config:
      email-service:
          logger-level: full




